.footer-info {
    position: absolute;
    width: 100%;
    background-color: var(--background-color);
    border-top-left-radius: 30% 20%;
    border-top-right-radius: 30% 20%;
}

.footer-container {
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    padding-top: 25px;
    padding-bottom: 10px;
    max-width: 2048px;
    margin: 0 auto;
}

.space-between {
    padding: 15px 0;
}

.footer-text {
    font-size: 14px;
    font-style: italic;
    color: var(--secondary-text-color);
}

.email-text {
    text-transform: uppercase;
    cursor: pointer;
}

.copyright {
    font-size: 10px;
    color: var(--secondary-text-color);
}

.links-container {
    font-weight: 600;
}

.links {
    padding: 0 15px;
}

.linkedin {
    color: var(--section-color);
    font-weight: 900;
}

.twitter {
    color: var(--twitter);
    font-weight: 900;
}

.itchio {
    color: var(--itchio);
    font-weight: 900;
}

@media only screen and (max-width: 950px) {
    .footer-text {
        padding-left: 25px;
        padding-right: 25px;
    }
    .footer-info {
        width: 100%;
        z-index: 100;
    }
}