@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://necolas.github.io/normalize.css/');
:root {
    --theme-color: #ffc6c7;
    --button-color: #FF8BA7;
    --background-color: #03b2b6;
    --blue-dark: #03A5A8;
    --text-color: #33272a;
    --secondary-text-color: #564247;
    --section-color: #FFFFFE;
    --title-color: #567a8a;
    --shadow-color: 359deg 40% 55%;
    --shadow-elevation-low: 0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.66), 0.5px 0.7px 0.7px -2.4px hsl(var(--shadow-color) / 0.45), 1.4px 1.9px 1.8px -4.8px hsl(var(--shadow-color) / 0.24);
    --shadow-elevation-medium: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.52), 1.2px 1.7px 2.3px -0.9px hsl(var(--shadow-color) / 0.5), 3.1px 4.4px 5.9px -1.8px hsl(var(--shadow-color) / 0.48), 7.9px 11px 14.7px -2.7px hsl(var(--shadow-color) / 0.45);
    --shadow-elevation-high: 0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.57), 0.5px 0.7px 0.7px -0.6px hsl(var(--shadow-color) / 0.51), 1.1px 1.5px 1.5px -1.2px hsl(var(--shadow-color) / 0.45), 2.4px 3.3px 3.2px -1.8px hsl(var(--shadow-color) / 0.39), 4.8px 6.7px 6.4px -2.4px hsl(var(--shadow-color) / 0.33), 8.8px 12.3px 11.8px -3px hsl(var(--shadow-color) / 0.27), 14.7px 20.7px 19.8px -3.6px hsl(var(--shadow-color) / 0.21), 23px 32.3px 30.9px -4.2px hsl(var(--shadow-color) / 0.15), 34px 47.7px 45.7px -4.8px hsl(var(--shadow-color) / 0.08);
    --linkedin: #004fa1;
    --twitter: #6ff3f1;
    --itchio: #d43e55;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Body */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    /*background-color: var(--theme-color);*/
    background-color: var(--section-color);
    color: var(--text-color);
    padding-top: 200px;
    padding-right: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.link {
    text-decoration: none;
}